@{
    Layout = "_Layout";
}

@model Restaurant.Models.Cuisine

<h2>Edit</h2>

<h4>Edit this cuisine: @Html.DisplayFor(model => model.Name)</h4>

@{
    ViewData["Title"] = "Edit Cuisine";
    Layout = "_Layout";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CuisineId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" class="btn btn-green" />
    <br />
}
@Html.ActionLink("Back To List", "Index", "Cuisine", null, new { @class = "btn btn-blue " })